<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

    <h1 class="text-center">Restoku</h1>
    <h2 class="text-center">Find the best restaurant here!</h2>

    <div class="container text-center">
        <br>
        <img src="https://shawglobalnews.files.wordpress.com/2019/10/hearth-saskatoon-restaurant-best-canada-vegetarians.jpg?quality=70&strip=all" class="img-fluid rounded" alt="Responsive image">
    </div>
    <br>
    <h2 class="text-center">Best pick this week!</h2>
    <br>
    <div class="container text-center">
        <img src="https://comelite-arch.com/wp-content/uploads/2018/04/How-to-Create-a-Successful-Fine-Dining-Restaurant-0-256x256.jpg" class="rounded float-left" alt="...">
        <img src="https://media.radissonhotels.net/image/Radisson-Blu-Belo-Horizonte-Savassi/Restaurant/16256-116444-f64878265_3XL.jpg?impolicy=CustomCrop&cwidth=256&cheight=256" class="rounded px-md-3 float-left" alt="...">
        <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_256,q_60,w_256/v1/clients/knoxville/jc_holdway_0e3e4bb5-db04-47d9-bc20-6fd94ec3d7da.jpg" class="rounded px-md-3 float-right" alt="...">
        <img src="https://cdn0.tablecheck.com/images/57e4fe7c4a5f06b5510032cb/images/sm/the-apollo-restaurant_interior_3.jpg?1474625148" class="rounded float-right" alt="...">
    </div>
    
<%- include('../partials/footer.ejs') %>