<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<h1 class="text-center">Register user</h1><br>

<% if (msg) { %>
    <% for (const err of msg) { %>
        <h5 class="text-center text-danger"><%= err %></h5>
    <% } %>
<% } %>

<br>
<div class="container w-25">
    <form action="" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="birth">Birth Years</label>
            <input type="number" name="birth" class="form-control" id="birth">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control"  name="email" id="email" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<%- include('../partials/footer.ejs') %>